.circle {
  border-radius: 100%;
  background: white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}


.logo {
  height: 60%;
  width: 60%;
  margin: auto;
  max-height: : 60%;
  display: block;
}

.logos {
  height: 100px;
  background: white;
  margin-bottom: 10px;
  border-radius: 2%;
}

.TechSkills h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.section.technical h3 {
  margin-top: 0;
}

.project {
  height: 500px;
  width: 500px;
  background-color: red;
  display: flex;
}

.project h3 {
  text-align: center;
}
