/*Component selectors*/
body {
  background-color: #52514f;
  margin: 0;
  color: white;
  font-family: "Bitter", sans-serif;
  font-size: calc(0.05rem + 1vw);
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: "Merriweather";
  font-weight: normal;
}

h2 {
  font-size: calc(2rem + 1vw);
}

h3 {
  font-size: calc(1.5rem + 1vw);
}

p {
  line-height: 1;
  margin: auto 10%;
}

hr {
  height: 3px;
  margin: 0;
  border: 0;
  background-color: grey;
}

a {
  margin: 10px 20px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ea0599;
}

table {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  table-layout: fixed;
}

li {
  line-height: 1.5;
}

tr {
  border-color: black;
  border-width: thick;
}

/* Class selectors*/
.date {
  text-align: right;
  width: 40%;
}

.links, .TechSkills, .title {
  text-align: center;
}

.TechSkills ul {
  padding: 0;
}

.TechSkills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}


.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
  width: 100%;
  height: auto;
  padding: 2%;
}

.summary {
  text-align: left;
}

.cover img {
  max-width: 100%;
  height: auto;
  display: inline;
}

.otherSkills {
  text-align: center;
  line-height: 1.2;
  font-family: "Roboto";
}

.otherSkills p {
  line-height: 2;
}

.photo {
  border-radius: 100%;
  display: block;
  margin: 1% auto 1% auto;;

  max-width: 20%;
}

.profile p {
  text-align: center;
  line-height: 1.2;
}

.cover h3 {
  font-size: 5vw;
}

.profile {
  background-color: #1f4068;
}

.technical {
  background-color: #1b1b2f;
}

.work {
  background-color: #59405c;
}

.education {
  background-color: #162447;
}

.otherSkills {
  background-color: #30475e;
}

/* 1536 */

.section {
  height: 25%;
  padding: 1% 0 3% 0;
  margin: 0;
}

.cover.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
  background-image: url("../milkyWay1.jpg");
  background-size: cover;
  background-position: center;
}

.section.cover h2 {
  font-size: calc(1.5rem + 2vw);
}
