body {
  background-color: #52514f;
  margin: 0;
  color: white;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  /* font-size: 2.5rem; */
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 1.625rem;
}

p {
  line-height: 1;
  margin: auto 10%;
}

hr {
  height: 2%;
  margin-top: 2%;
}

a{
  margin: 10px 20px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

table {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

li {
  line-height: 1.5;
}

.date {
  text-align: right;
}

.links {
  text-align: center;
}

.TechSkills {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}

.photo{
  width: 12%;
  border-radius: 100%;
  float: left;
  margin-right: 5%;
  margin-left: 1%;
}


.icons {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
}


.profile
{
  margin-bottom: 10%;
  padding-top: 2%;
}
.header {
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 10px 0 10px 10px;
}


h2.profile{
  margin-bottom: 0px;
  color: red;
}

.otherSkills {
  margin-left: 3%;
  text-align: center;
  line-height: 1.5;
}
